.headerBlock{
  color: #FFFFFF;
  height: 60px;
  border-bottom: solid 1px #333333;

  .title{
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    height: 60px;
    padding-top: 12px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}