.wrapper {
  position: relative;
}

.slider {
  max-width: 800px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: -70px;
}

.next {
  right: -70px;
}

.postWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .img {
    width: 100%;
  }

  .textContent {
    width: 80%;

  }
}