.wrapper {
  position: relative;
}

.slider {
  max-width: 800px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: -70px;
}

.next {
  right: -70px;
}

.postWrapper {
  display: flex;
  column-gap: 20px;

  .postImg {
    object-fit: cover;
  }
}

.description {
  max-width: 300px;
}