@import "src/styles/mixins";

.title {
  @include text-h2()
}

.form {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.loginContainer {
  row-gap: 20px;
  @include flex-center()
}

.forgot {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  cursor: pointer;
  color: #FFFFFF;
}

.icons {
  display: flex;
  column-gap: 50px;
}

.text {
  @include text-regular()
}

.link {
  @include link-regular()
}