@import "../../../../styles/mixins";

.title {
  @include text-h2()
}

.form {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.loginContainer {
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  cursor: pointer;
}

.icons {
  display: flex;
  column-gap: 50px;
}

.text {
  @include text-regular()
}

.link {
  @include link-regular()
}