@import "src/styles/mixins";
@import "src/styles/constants";

.title {
  @include text-h2();
  margin-bottom: 30px;
}

.form {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.loginContainer {
  row-gap: 20px;
  @include flex-center()
}

.forgot {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  cursor: pointer;
  color: #FFFFFF;
}

.text {
  @include text-regular()
}

.link {
  @include link-regular()
}

.serverErrorMessage {
  text-align: center;
  height: 15px;
  padding-top: 7px;
  color: $danger-color_500;
}