.wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #4C4C4C ;
  .postTitle {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .avatar {
      border-radius: 50%;
      object-fit: cover;
    }
  }
}