.wrapper {
  border-bottom: 2px solid #4C4C4C;
  padding: 10px;
  .postTitle {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .avatar {
      border-radius: 50%;
      object-fit: cover;
    }
  }

}