$accent-color_100: #73A5FF;
$accent-color_300: #4C8DFF;
$accent-color_500: #397DF6;
$accent-color_700: #2F68CC;
$accent-color_900: #234E99;

$success-color_100: #7FFFBF;
$success-color_300: #22E584;
$success-color_500: #14CC70;
$success-color_700: #0F9451;
$success-color_900: #0A6638;

$danger-color_100: #FF7F99;
$danger-color_300: #F23D61;
$danger-color_500: #CC1439;
$danger-color_700: #990F2B;
$danger-color_900: #660A1D;

$dark-color_100: #4C4C4C;
$dark-color_300: #2D2D2D;
$dark-color_500: #131313;
$dark-color_700: #0B0B0B;
$dark-color_900: #000000;

$light-color_100: #FFFFFF;
$light-color_300: #F7FBFF;
$light-color_500: #EDF3FA;
$light-color_700: #D5DAE0;
$light-color_900: #BDC1C7;