@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body[data-theme='dark'] {
    --color-text: #FFFFFF;
    --bg-color:  #000000;

    --card-color: #131313;
    --card-border-color: #2D2D2D;
    --filter-moon: invert(100%) sepia(87%) saturate(0%) hue-rotate(218deg) brightness(111%) contrast(101%);
}
body[data-theme='light'] {
    --color-text: #000000;
    --bg-color: #EDF3FA;

    --card-color: #F7FBFF;
    --card-border-color: #F7FBFF;

    --filter-color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(155deg) brightness(100%) contrast(103%);
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    color: var(--color-text);
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
    resize: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

.material-icons {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
}

.swiper-button-prev,
.swiper-rtl,
.swiper-button-next {
    color: #000 !important;
}