.sideBarBlock {
  position: fixed;
  border-right: 1px solid #333333;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 36px;
  row-gap: 20px;
}

.sideBarBlock :nth-child(4) {
  margin-top: 60px;
}

.sideBarBlock :nth-child(6) {
  margin-top: 200px;
}

