.sideBarBlock {
  border-right: 1px solid #333333;
 min-width: 220px;
  display: flex;
  flex-direction: column;

  padding-top: 60px;
  padding-bottom: 36px;

}

.sideBarBlock :nth-child(2) {
  margin-top: 24px;
}

.sideBarBlock :nth-child(3) {
  margin-top: 24px;
}

.sideBarBlock :nth-child(4) {
  margin-top: 60px;
}

.sideBarBlock :nth-child(5) {
  margin-top: 24px;
}

.sideBarBlock :nth-child(6) {
  margin-top: 274px;
}

