@import "src/styles/constants";

.container {
  width: 726px;
  min-height: 600px;
  margin: 30px 0 0 24px;
}

.aboutDeviceBlock {
  display: flex;
  flex-direction: column;
  width: 726px;
  min-height: 190px;

  & h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $light-color_100;
  }
}

.description {
  margin-top: 12px;
  padding: 18px;
  display: flex;
  justify-content: flex-start;
  background: $dark-color_500;

  & img {
    margin-right: 12px;
  }
}

.info {
  margin-right: 55%;

  & span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $light-color_100;
  }

  .IP {
    margin-top: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $light-color_100;
  }

  .lastVisit {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $light-color_100;
  }

  .active {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $accent-color_500;
  }

}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}

.activeSessionsBlock {
  margin-top: 20px;
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
