@import '../../../styles/constants';

.logOut {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;

  &:hover {
    filter: invert(54%) sepia(75%) saturate(385%) hue-rotate(184deg) brightness(102%) contrast(101%);

  }
}