@import "src/styles/constants";

.item {
  color: $light-color_100;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 12px;
  transition: all .3s;

  &:hover {
    color: $accent-color_500;
    background-color: $dark-color_500;
  }

  &:focus {
    color: $accent-color_500;
    background-color: $dark-color_500;
  }
}

