@import "src/styles/constants";

.modalContent {
  min-width: 438px;
  background-color: var(--bg-modal);

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 59px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid $dark-color_100;
    padding: 0 29px 0 24px;

    .closeModal {
      cursor: pointer;
      height: 14px;
      margin-left: 294px;
      filter: var(--filter-color);
    }
  }

  .children {
    padding: 30px 24px 30px 24px;
  }
}