.headerBlock{
  color:#FFFFFF;
  height: 60px;
  display: flex;
  border-bottom:solid 1px #333333;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .title{
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    height: 60px;
    padding-top:12px;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}