@import "src/styles/constants";

.headerBlock {
  color: $light-color_100;
  height: 181px;
  display: flex;
  justify-content: center;

  .title {
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #333333;
    width: 1280px;
    height: 60px;
    margin-top: 31px;
    padding-top: 12px;
    padding-left: 60px;
  }
}