@import '../../styles/_mixins.scss';
@import '../../styles/_constants.scss';
.button_primary {
    @include button($accent-color_500, $light-color_100);
    &:hover {
        transition: color .2s ease;
        transition: background-color .5s ease;
        @include button($accent-color_100, $light-color_100);
    }
    &:active {
        transition: color .2s ease;
        transition: background-color .5s ease;
        @include button($accent-color_700, $light-color_500);
    }
    &:focus {
        transition: color .2s ease;
        transition: background-color .5s ease;
        @include button($accent-color_500, $light-color_100);
        border: 2px solid $accent-color_700;
    }
}

.button_white {
    @include button($light-color_100, $dark-color_900);
    &:hover {
        transition: color .2s ease;
        transition: background-color .5s ease;
        @include button($light-color_100, $dark-color_300);
    }
    &:active {
        transition: color .2s ease;
        transition: background-color .5s ease;
        @include button( $light-color_700, $dark-color_900);
    }
    &:focus {
        transition: color .2s ease;
        transition: background-color .5s ease;
        @include button($light-color_100, $dark-color_900);
        border: 2px solid $accent-color_700;
    }
}

.button_transparent {
    @include button(transparent, $accent-color_500);
    border: 2px solid $accent-color_500;
    &:hover {
        transition: color .2s ease;
        @include button(transparent, $accent-color_100);
        border: 2px solid $accent-color_100;
    }
    &:active {
        transition: color .2s ease;
        @include button( transparent, $accent-color_700);
        border: 2px solid $accent-color_700;
    }
    &:focus {
        transition: color .2s ease;
        @include button( transparent, $accent-color_700);
        border: 2px solid $accent-color_700;
    }
}

.button_outlined {
    @include button(transparent, $accent-color_500);
    &:hover {
        transition: color .2s ease;
        @include button(transparent, $accent-color_100);
    }
    &:active {
        transition: color .2s ease;
        @include button( transparent, $accent-color_700);
    }
    &:focus {
        transition: color .2s ease;
        @include button( transparent, $accent-color_700);
        border: 2px solid $accent-color_700;
    }
}

.button_primary_dis {
    @include button( $accent-color_900, $light-color_900)
}

.button_white_dis {
    @include button( $light-color_900, $dark-color_900)
}

.button_transparent_dis {
    @include button( transparent, $accent-color_900);
    border: 2px solid $accent-color_900;
}

.button_outlined_dis {
    @include button( transparent, $accent-color_900)
}