.accountNotFoundBlock {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 19px;
  }

  .text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
    width: 409px;
    text-align: center;

  }

  .button {

  }
}